<app-carousel *ngIf="carouselItems$ | async" slideMargin="10" xl="6" lg="5" md="3" sm="1">
  <ng-container *ngFor="let item of carouselItems$ | async;">
    <ng-container *carouselItem>
      <img [src]="item.largeImageURL" class="img-fluid j-carousel-img"/>
      <div class="row j-carousel-caption mt-auto">
        <div class="col-12">
          <div class="row no-gutters">
            <div class="col-6 "><i class="fas fa-user mr-2"></i>{{item.user}} </div>
            <div class="col-6 text-right"><i class="fas fa-heart mr-2"></i> {{item.likes}}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</app-carousel>
